body {
  background: #eee;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#topbar {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 39px;
  background: #555;
  color: white;
  padding: 4px;
}

#topbar > div {
  display: inline-block;
  vertical-align: middle;
}

#topbar > div:not(:first-child) {
  margin-left: 8px;
}

#topbar #title {
  font-weight: bold;
}

#topbar > div:not(#title) {
  font-size: 10pt;
}

#game {
  width: 1024px;
  height: 768px;
  position: absolute;
  left: 2px;
  top: 41px;
  cursor: crosshair;
}

#game canvas {
  position: absolute;
}

#updates {
  z-index: 2;
}

#board {
  z-index: 1;
  background: white;
}

@media (min-width: 1124px) {
  #panel {
    position: absolute;
    top: 39px;
    left: 1026px;
    bottom: 0px;
    right: 0px;
    z-index: 9;
    background: #eee;
  }
}

@media (max-width: 1123px) {
  #panel {
    position: absolute;
    top: 770px;
    left: 0px;
    right: 0px;
  }
}

#panel {
  padding: 8px;
}

#panel h1 {
  font-size: 1.6rem;
}

#myColour {
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid white;
  margin-bottom: -1px;
}

#pattern-menu > .dropdown-item > canvas {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  margin-bottom: -4px;
  border: 1px solid lightgray;
}

.bottom-notification {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 0;
  visibility: collapse;
  z-index: 10;
}

.fadeout {
  animation-delay: 2s;
  animation-duration: 250ms;
  animation-name: fadeout;
  animation-fill-mode: forwards;
}

@keyframes fadeout {
  from {
    opacity: 1.0;
  }
  to {
    opacity: 0.0;
    pointer-events: none;
  }
}
